<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/applicant','list']" class="list">Applicant List</a></li>
    </ul>
</div>
<div id="persist-applicant" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Applicant</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <fieldset class="form">
  <div class="fieldcontain required">
    <label for="firstName">First Name
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="firstName" id="firstName" [(ngModel)]="applicant.firstName" type="text" maxlength="25" />
  </div>
  <div class="fieldcontain required">
    <label for="lastName">Last Name
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="lastName" id="lastName" [(ngModel)]="applicant.lastName" type="text" maxlength="25" />
  </div>
  <div class="fieldcontain">
    <label for="middleName">Middle Name</label>
    <input name="middleName" id="middleName" [(ngModel)]="applicant.middleName" type="text" maxlength="25" />
  </div>
  <div class="fieldcontain">
    <label for="nameExtension">Name Extension</label>
    <input name="nameExtension" id="nameExtension" [(ngModel)]="applicant.nameExtension" type="text" maxlength="5" />
  </div>
  <div class="fieldcontain">
    <label for="email">Email</label>
    <input name="email" id="email" [(ngModel)]="applicant.email" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="cellphone">Cellphone</label>
    <input name="cellphone" id="cellphone" [(ngModel)]="applicant.cellphone" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="residentialAddress">Residential Address
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="residentialAddress" id="residentialAddress" [(ngModel)]="applicant.residentialAddress" type="text" maxlength="100" />
  </div>
  <div class="fieldcontain required">
    <label for="permanentAddress">Permanent Address
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="permanentAddress" id="permanentAddress" [(ngModel)]="applicant.permanentAddress" type="text" maxlength="100" />
  </div>
  <div class="fieldcontain required">
    <label for="eNameOfSchool">E Name Of School
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="eNameOfSchool" id="eNameOfSchool" [(ngModel)]="applicant.eNameOfSchool" type="text" maxlength="50" />
  </div>
  <div class="fieldcontain required">
    <label for="eYearGraduated">E Year Graduated
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="eYearGraduated" id="eYearGraduated" [(ngModel)]="applicant.eYearGraduated" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="eHonor">E Honor</label>
    <input name="eHonor" id="eHonor" [(ngModel)]="applicant.eHonor" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="sNameOfSchool">S Name Of School
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="sNameOfSchool" id="sNameOfSchool" [(ngModel)]="applicant.sNameOfSchool" type="text" maxlength="50" />
  </div>
  <div class="fieldcontain required">
    <label for="sYearGraduated">S Year Graduated
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="sYearGraduated" id="sYearGraduated" [(ngModel)]="applicant.sYearGraduated" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="sHonor">S Honor</label>
    <input name="sHonor" id="sHonor" [(ngModel)]="applicant.sHonor" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="cNameOfSchool">C Name Of School
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="cNameOfSchool" id="cNameOfSchool" [(ngModel)]="applicant.cNameOfSchool" type="text" maxlength="50" />
  </div>
  <div class="fieldcontain required">
    <label for="cYearGraduated">C Year Graduated
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="cYearGraduated" id="cYearGraduated" [(ngModel)]="applicant.cYearGraduated" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="cHonor">C Honor</label>
    <input name="cHonor" id="cHonor" [(ngModel)]="applicant.cHonor" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="hobbies">Hobbies</label>
    <input name="hobbies" id="hobbies" [(ngModel)]="applicant.hobbies" type="text" />
  </div>
</fieldset>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" [value]="create ? 'Save' : 'Update'" />
        </fieldset>
    </form>
</div>